.container {
    padding-top: 1.5vw;
}

.title {
    margin: auto;
    width: 50%;
    color: red;
}

input {
    border: 0.5px lightgray solid;
    width: 100%;
    border-radius: 10%;
}

select {
    width: 20vw;

}

.size-width {
    width: 7%;
}

.th {
    text-align: center;
}

h1 {
    font-size: 3vw;
}

th,
td {
    font-size: 1.2vw;
}

.result {
    margin-top: 2vw;
}

h5 {
    font-size: 1.5vw;
}

button {
    font-size: 1.2vw;
    margin-top: 20px;
    padding: 0 !important;
}

#result {
    margin-top: 20px;
}