{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Tên môn học</th>
                        <th>Thực hành</th>
                        <th>Chỉ lý thuyết</th>
                        <th>Chỉ thực hành</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in monhoc %}
                    <tr>
                        <td>{{ i.ten }}</td>
                        <td>{{ i.thuc_hanh }}</td>
                        <td>{{ i.chi_ly_thuyet }}</td>
                        <td>{{ i.chi_thuc_hanh }}</td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <form action="">
                            <td><input type="text" /></td>
                            <td><input type="checkbox" /></td>
                            <td><input type="text" /></td>
                            <td><input type="text" value="" /></td>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
